.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    margin: 0;
    height: 70vh;
    width: 100vw;
  }
  
  .canvas-container canvas {
    display: block;
    height: 100%;
    width: 100%;
  }
  