.btn-orange {
  color: #fff;
  background-color: #F7A237;
  border-color: #F7A237;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
}

.btn-orange:hover {
  color: #fff;
  background-color: #e69129;
  border-color: #e69129;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
}

.orange-bar {
  background-color: #F7A237;
  padding: 10px;
}

.orange-bar h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.orange-bar h6 {
  margin-top: 10px;
  padding: 0;
  color: white;
}