<!-- insercion del navbar -->
<app-navbar-docentes></app-navbar-docentes>

<div class="orange-bar pt-3 pb-2">
    <h3 class="text-center">{{ strings['navbar.doc.head'] }}</h3>
    <h6 class="text-center">{{ strings['navbar.doc.body'] }}</h6>
</div>




<div class="boton-docente d-grid gap-4 col-6 mx-auto mt-5">
  <button class="btn btn-primary btn-orange" type="button"(click)="navigateCampanasDocente()">{{ strings['consultar.encuestas'] }}</button>
  <button class="btn btn-primary btn-orange" type="button">{{ strings['consultar.informes'] }}</button>
</div>