.btn-orange {
    color: #fff;
    background-color: #F7A237;
    border-color: #F7A237;
  }
  
  .btn-orange:hover {
    color: #fff;
    background-color: #e69129;
    border-color: #e69129;
  }

  .shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .btn-fixed-width {
    width: 300px; /* ajusta el ancho a tu gusto */
  }

  .orange-bar {
    background-color: #F7A237;
    padding: 10px;
  }
  
  .orange-bar h3 {
    margin: 0;
    padding: 0;
    color: white;
  }
  