<div class="campaña card text-center" [ngClass]="{'seleccionado': seleccionado}">
  <div class="card-header">
    <div class="checkbox-container">
      <input type="checkbox" [(ngModel)]="seleccionado" (click)="toggleSeleccionado()" />
    </div>
    <h5 class="card-title d-inline">{{ nombre_Asignatura }} <h6 class="d-inline">{{ anno_curso }}</h6></h5>
  </div>
  <div class="card-body">
    <p>{{ strings['veces.abierta'] }}: {{ veces_abierta }}</p>
    <p>{{ strings['alumnos.encuestados'] }}: {{ n_alum_respondido }}/{{ n_alum_total }}</p>
    <button class="btn btn-primary custom-btn-color" (click)="selectActivacion()">{{ strings['activar.encuesta'] }}</button>
  </div>
  <div class="card-footer text-muted" >
    <div class="expirada" *ngIf="expirada">
      {{ strings['expirada'] }}
    </div>
    <div *ngIf="!expirada">
      <small>{{ strings['tiempo.restante2'] }}</small> <br />
      {{ tiempoRestante | async }}
    </div>
  </div>
</div>
