<div class="modal-header">
    <h5 class="modal-title">{{ strings['popup.title'] }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="0" [(ngModel)]="selectedOption">
      <label class="form-check-label" for="exampleRadios1">
        {{ strings['popup.docente'] }}
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2" [(ngModel)]="selectedOption">
      <label class="form-check-label" for="exampleRadios2">
        {{ strings['popup.admin'] }}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ strings['popup.cancelar'] }}</button>
    <button type="button" class="btn btn-primary" (click)="onSaveChanges()">{{ strings['popup.aceptar'] }}</button>
  </div>
  