<div id="popupContainer" class="modal fade" tabindex="-1" role="dialog">
  <!-- Contenido del popup -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Encabezado del popup -->
      <div class="modal-header">
        <h4 class="modal-title">Título del Pop-up</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClosePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- Cuerpo del popup -->
      <div class="modal-body">
        Contenido del Pop-up
      </div>
      
      <!-- Pie del popup -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClosePopup()">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
