.custom-btn-color {
    background-color: rgb(28, 0, 189);
    border-color: rgb(28, 0, 189);
}

.custom-btn-color:hover,
.custom-btn-color:focus {
    background-color: rgb(0, 0, 148);
    border-color: rgb(0, 0, 148);
}
.card.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }