.navbar-alumno {
    background-color: blue !important;
  }
  
  .navbar-docente {
    background-color: orange !important;
  }
  
  .navbar-admin {
    background-color: black !important;
  }
  
  .navbar-login {
    background-color: white !important;
  }
  
  .no-hover:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.568);
    cursor: default;
  }