.orange-bar {
    background-color: #F7A237;
    padding: 10px;
  }
  
  .orange-bar h3 {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .orange-bar h6 {
    margin-top: 10px;
    padding: 0;
    color: white;
  }

  .fixed-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que las barras estén por encima del contenido */
}

.second-bar {
    margin-top: 56px; /* Ajusta este valor según sea necesario para el margen deseado */
}

.container {
    margin-top: 150px;
  }

.mensaje {
    margin-top: 40px;
    text-align: center;
 }