
  
  .orange-bar {
    background-color: #F7A237;
    padding: 10px;
  }
  
  .orange-bar h3 {
    margin-bottom: 10px;
    padding: 0;
    color: white;
  }

  .custom-dropdown-toggle {
    border-color: #F7A237 !important;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #F7A237;
}

.dropdown-toggle {
    border-color: #F7A237 !important;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #F7A237;
}

.btn-custom:hover,
.btn-custom:focus {
    border-color: #F7A237 !important;
    font-weight: bold;
    background-color: #F7A237;
    color: #FFFFFF;
}

.custom-background {
    background-color: #F5F5F5;
    margin-top: 15px;
}

.custom-background-2 {
  background-color: #F5F5F5;
  margin-top: 15px;
  padding-bottom: 8px;
}

.container-naranja {
    background-color: #F7A237;
}

.container h5{
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #F7A237;
  }

  .col-md-2,
  .col-md-6 {
    margin: 0px;
  }

  .btn-orange {
    color: #fff;
    background-color: #F7A237;
    border-color: #F7A237;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
  }
  
  .btn-orange:hover {
    color: #fff;
    background-color: #e69129;
    border-color: #e69129;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
  }

  p {

    line-height: 0.4em;
}

p strong.separation {
  margin-left: 50px;
}
p strong.separation2 {
  margin-left: 40px;
}

.container-info {
  display: flex;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.column-left {
  text-align: right;
  flex: 1;
  padding: 5px;
  margin-top: 10px;
}

.column-right {
  text-align: left;
  flex: 1;
  padding: 5px;
  margin-top: 10px;
}

.logo-upvhu {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

/**********  encuesta  *********/

.encuesta {
  margin-bottom: 40px;
}

.fila-gris-oscuro {
  background-color: #e0e0e0;
}

.fila-gris-claro {
  background-color: #eeeeee;
}

.card-body {
  display: grid;
  grid-template-columns: 48% 13% 15% 22%;
  gap: 10px;
}

.column-left-preguntas {
  text-align: left;
  flex: 1;
  display: flex;
  align-items: center;
}

.column-mid1-preguntas {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-mid2-preguntas {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-right-preguntas {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}


/*++++++++++++++++++++++*/

.card-header {
  display: grid;
  grid-template-columns: 48% 13% 15% 22%;
  gap: 10px;
  padding-top: 16px;
}

.cabecera-left {
  text-align: left;
  flex: 1;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.cabecera-mid1 {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.cabecera-mid2 {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.cabecera-right {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.gray-square {
  width: 20px;
  height: 20px;
  background-color: rgba(176, 176, 176);
}
.orange-square {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: rgba(255, 188, 102);
}

.opciones {
  display: grid;
  grid-template-columns: 80% 20%;
}

.opciones-left {
  flex: 1;
  gap: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 7px;
}

.opciones-right {
  flex: 1;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  margin-top: 7px;
}