<!-- insercion del navbar -->
<app-navbar-docentes></app-navbar-docentes>

<div class="orange-bar pt-3 pb-2">
    <h3 class="text-center">{{ strings['informe.comparativa'] }}</h3>
</div>

<div class="container custom-background">
    <div class="row justify-content-center container-naranja "> <!-- Agregamos una fila y centramos su contenido -->
        <h5> {{ strings['informes.pers.head']}} </h5>
    </div>
</div>

<div class="container-info container custom-background">
  <div class="centrado" *ngIf="datos_informe">
    <div class="column-left">
      <p><strong>{{ strings['centro']}}:</strong></p>
      <p><strong>{{ strings['titulacion']}}:</strong></p>
      <p><strong>{{ strings['departamento']}}:</strong></p>
      <p><strong>{{ strings['docente']}}:</strong> </p>
      <p><strong>{{ strings['asignatura']}}:</strong> </p>
      <p><strong>{{ strings['grupo']}}:</strong> </p>
      <p><strong>{{ strings['curso']}}:</strong> </p>
      <p><strong>{{ strings['plazas']}}:</strong> </p>
    </div>
    <div class="column-right">
      <p> {{ situacion_docente["centro"]["codigo"] }} - {{ situacion_docente["centro"]["nombre"] }}</p>
      <p> {{ situacion_docente["titulacion"]["codigo"] }} - {{ situacion_docente["titulacion"]["nombre"] }}</p>
      <p> {{ situacion_docente["departamento"]["codigo"] }} - {{ situacion_docente["departamento"]["nombre"] }}</p>
      <p> {{ situacion_docente["profesor"]["codigo"] }} - {{ situacion_docente["profesor"]["nombre"] }}</p>
      <p> {{ situacion_docente["asignatura"]["codigo"] }} - {{ situacion_docente["asignatura"]["nombre"] }}</p>
      <p> {{ situacion_docente["grupo"]["codigo"] }} - {{ situacion_docente["grupo"]["nombre"] }}</p>
      <p> {{ situacion_docente["curso"]["codigo"] }} <strong class="separation"> {{ strings['año.curso']}}:</strong> {{ situacion_docente["curso"]["año_curso"] }}  </p>
      <p> {{ situacion_docente["plazasMatriculadas"] }} <strong class="separation2"> {{ strings['num.cuestionarios']}}:</strong> {{ situacion_docente["numCuestionarios"] }}</p>
    </div>
  </div>
</div>


<div class="container custom-background-2">
    <div class="row justify-content-center">

      <div class="mt-2 col-md-6">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle custom-dropdown-toggle" type="button" data-toggle="dropdown" style="width: 600px;">
            {{ selectedAsignatura ? selectedAsignatura['nombre_asignatura'] :  strings['asignatura'] }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let asignatura of asignaturas" (click)="selectAsignatura(asignatura)">
              {{ asignatura['nombre_asignatura'] }}
            </a>
          </div>
        </div>
      </div> 
  
      <div class="mt-2 col-md-2" *ngIf="selectedAsignatura">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle custom-dropdown-toggle" type="button" data-toggle="dropdown" style="width: 150px;">
            {{ selectedYear ? selectedYear :  strings['año.del.curso'] }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let year of getAsignaturaYears(selectedAsignatura)" (click)="selectedYear = year">
              {{ year }}
            </a>
          </div>
        </div>
      </div>

      <div class="mt-2 col-md-2" *ngIf="selectedYearDrop">
        <div class="dropdown">
          <button class="btn btn-custom dropdown-toggle custom-dropdown-toggle" type="button" data-toggle="dropdown" style="width: 150px;">
            {{ selectedComparacion ? strings[selectedComparacion] : strings['comparativa'] }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let comparacion of comparaciones" (click)="selectComparacion(comparacion)">
              {{ strings[comparacion] }}
            </a>
          </div>
        </div>
      </div>      
      
      <div class="mt-2 col-md-2" *ngIf="selectedComparacionDrop">
        <button class="btn btn-primary btn-orange" type="button"(click)="mostrarInforme()"> {{strings['consultar.informe']}} </button>
      </div>
        
    </div>
  </div>

  <div class="encuesta" *ngIf="encuestaCargada">
    <div class="mt-5 col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-header text-center float-right">
          <div class="cabecera-left card-title d-inline">
            {{strings['pregunta']}}
          </div>
          <div class="cabecera-mid1 d-inline">
            {{strings['media.pers']}}
          </div>
          <div class="cabecera-mid2 d-inline">
            <ng-container *ngIf="languageService.getCurrentLanguageValue() === 'es'">
              {{ strings['media'] }}&nbsp;{{ strings[selectedComparacion] }}
            </ng-container>
            <ng-container *ngIf="languageService.getCurrentLanguageValue() === 'en'">
             {{ strings[selectedComparacion] }} &nbsp;{{ strings['media'] }}
            </ng-container>
            <ng-container *ngIf="languageService.getCurrentLanguageValue() === 'eu'">
              {{ strings[selectedComparacion] }} &nbsp;{{ strings['media'] }}
             </ng-container>
          </div>
          <div class="cabecera-right card-title d-inline">
            <div class="color-squares-container d-flex justify-content-center align-items-center">
            {{strings["personal"]}}: <div class="orange-square"></div>
            {{strings["comparación"]}}: <div class="gray-square"></div>
            </div>
          </div>
        </div>           
        <ng-container *ngFor="let pregunta of encuesta; let i = index">
          <div class="card-body" [ngClass]="{'fila-gris-oscuro': i % 2 === 0, 'fila-gris-claro': i % 2 !== 0}">
            <div class="column-left-preguntas">
              <div class="pregunta">{{ pregunta.texto_pregunta }}</div>
            </div>
            <div class="column-mid1-preguntas">
              <div class="media">{{ pregunta.media_respuestas }}</div>
            </div>
            <div class="column-mid2-preguntas">
              <div class="media">{{ comparativa[i]?.media_respuestas }}</div>
            </div>
            <div class="column-right-preguntas">
              <app-grafica-medias [parametros]="{ rdo_personales: [rdo_personales[i]], rdo_media: [rdo_media[i]]  }"></app-grafica-medias>
            </div>
          </div>
        </ng-container>
        
      </div>
    </div>
  </div>
  
  
  
