.btn-black {
    color: #fff;
    background-color: rgba(56, 56, 56);
    border-color: rgba(56, 56, 56);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
  }
  
  .btn-black:hover {
    color: #fff;
    background-color: rgba(23, 23, 23);
    border-color: rgba(23, 23, 23);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); /* Agrega sombra */
  }
  
  .black-bar {
    background-color: rgba(56, 56, 56);
    padding: 10px;
  }
  
  .black-bar h3 {
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 10px;
  }
  
