.custom-btn-color {
    background-color: #F7A237;
    border-color: #F7A237;
}

.custom-btn-color:hover,
.custom-btn-color:focus {
    background-color: #e69129;
    border-color: #e69129;
}
.card.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  